@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OurFiction!</h1>
    <p>The goal of this website is to create a fictional story where the author is not just a single person.</p>
    <p>This will also not be a simple collaboration between authors.</p>
    <p>Anybody can participate, whether you are a professional writer or a complete amateur!</p>
    <p>If you want to just read, <a>click here</a> to proceed to the public reading section.</p>
    <p>If you want to participate, register an account and login!</p>
</div>
