@model OurFiction.Controllers.HomeController.ReadFictionViewModel
@{
    ViewData["Title"] = "Read Fiction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Read Fiction</h1>

<h4>@Model.Story.Title</h4>
<p>
    @Model.Story.InitialContent
</p>

@foreach(var item in Model.Fragments)
{
    <p>@item.Content</p>
}